<div class="module tuintracallup" ng-controller="tuintracallupController">
  <div class='iframeLoading' ng-if="isBusy">
    <div class='transitionloader'>
    </div>
  </div>
  <koa-toolbar>
    <koa-icon-button icon="arrow-back" ng-click="backButton()"></koa-icon-button>
    <span class="title" translate>tuintra-callup.title</span>
    <!--
    <koa-dropdown-menu label="{{ 'tuintra-callup.teams' | translate}}">
      <koa-listbox class="dropdown-content">
        <koa-item></koa-item>
      </koa-listbox>
    </koa-dropdown-menu>
    -->

  </koa-toolbar>

  <select ng-change="setTeamFilter()" ng-model="teamId">
    <option ng-repeat="team in teams"
      ng-selected="team._id === teamId"
      value="{{team._id}}">
      {{team.teamName}} ({{team.category}} {{team.gender}})
    </option>
  </select>
  <hr />
  <koa-button
          ng-repeat="called in callup.players"
          title="{{called.name.public}}"
          ng-if="called.playerData.picture && called.showPicture"
          value="{{called.name.public}}"
          class="rounded"
          ng-click="selectPlayer('{{called._id}}')">
          <img src="{{called.playerData.picture}}" />
          {{player.name.public}}
  </koa-button>
  <hr />
  <koa-button
          ng-repeat="player in players"
          title="{{player.name.public}}"
          ng-if="player.playerData.picture && player.showPicture"
          value="{{player.name.public}}"
          ng-click="selectPlayer('{{player._id}}')"
          class="rounded">
          <img src="{{player.playerData.picture}}" />
          {{player.name.public}}
  </koa-button>
  <hr />
  <koa-button raised onclick="modal.open()">{{ 'tuintra-callup.send' | translate }}</koa-button>
  <div ng-if="tuintracallup.message">
    {{tuintracallup.message}}
  </div>
</div>


<koa-dialog id="modal" modal>
  {{extraInfo}}
  <koa-input name="clothes"
             label="{{'tuintracallup.clothes' | translate}}"
             type="text"
             ng-model="extraInfo.clothes"
             auto-validate>
             <iron-icon icon="accessibility" prefix></iron-icon>
  </koa-input>
  <koa-input name="meetTime"
             label="{{'tuintracallup.meetTime' | translate}}"
             type="text"
             ng-model="extraInfo.meetTime"
             auto-validate>
             <iron-icon icon="alarm" prefix></iron-icon>
  </koa-input>
  <koa-input name="meetPlace"
             label="{{'tuintracallup.meetPlace' | translate}}"
             type="text"
             ng-model="extraInfo.meetPlace"
             auto-validate>
             <iron-icon icon="room" prefix></iron-icon>
  </koa-input>
  <koa-input name="comments"
             label="{{'tuintracallup.comments' | translate}}"
             ng-model="extraInfo.comments"
             type="text">
             <iron-icon icon="description" prefix></iron-icon>

  </koa-input>
  <div class="buttons">
    <koa-button onclick="modal.close()">{{'tuintracallup.close' | translate}}</koa-button>
    <koa-button dialog-confirm autofocus ng-click="sendCallup()">{{'tuintracallup.send' | translate}}</koa-button>
  </div>
</koa-dialog>
